*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 2rem auto;
    text-align: center;
    width: 800px;
}
.input {
    border: 1px solid green;
}
option{
    color: green;
}
.priority{
    display: flex;
}
.priority-num{
    padding: 0 .3rem;
}
li{
    display: flex;
    justify-content: center;
}